:root {
  --color-light-primary: #fbfbfb;
  --color-dark-primary: #000000;
  --color-yelow: #ffdc02;
  --color-green: #6cbd45;
  --color-red: #ff5052;
  --color-blue: #70cdde;
}

:root.dark {
  --color-light-primary: #000000;
  --color-dark-primary: #fbfbfb;
}
