:root {
  --color-light-primary: #ffffff;
  --color-dark-primary: #023047;
  --color-red: #e16262;
  --color-orange: #fabc60;
  --color-green: #9ede73;
  --color-blue: #17bdc1;

  /* button effect */
  --box-shadow-hover: 0px 10px 0px;
  --box-shadow-active: 0px 5px 0px;
  --translate: translateY(-5px);
  --transition: all 0.25s;

  /* blur effect for dialog box */
  --blur: blur(20px);

  /* this is for the button in conjusted area */
  --box-shadow-hover1: 0px 10px 0px;
  --box-shadow-active1: 0px -5px 0px;
  --box-shadow1: 0px 5px 0px;
  --translate1: translateY(-5px);
  --translate2: translateY(5px);
  --transition1: all 0.25s;
}

:root.dark {
  --color-light-primary: #023047;
  --color-dark-primary: #ffffff;
}
