@import url(./colorsheet.css);

/* this is for dialogBox */
.addDialog {
  position: absolute;
  margin: auto;
  border-radius: 15px;

  &::backdrop {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
}

.wrapper {
  display: flex;
  width: 900px;
  height: 500px;
}

.buttonHolder {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  width: 20%;

  & > button {
    height: 10%;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }
}

.todoArea,
.notesArea {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(20, 1fr);
  overflow: hidden;
  padding: 10px;
}

/* this is for todoContainer Item */
.todoArea {
  & > h1 {
    grid-row: 1/3;
    grid-column: 1/14;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  & > .close {
    grid-row: 1/3;
    grid-column: 14/16;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }

  & > .tTitle {
    grid-row: 4/6;
    grid-column: 1/12;
    font-size: 1rem;
    padding: 5px;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & > .tDate {
    grid-row: 4/6;
    grid-column: 12/16;
    border: none;
    margin-left: 10px;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & > .tDescription {
    grid-row: 7/15;
    grid-column: 1/16;
    resize: none;
    font-size: 1rem;
    padding: 5px;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & > .tPriority,
  .tProject {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .tPriority {
    grid-row: 16/18;
    grid-column: 1/8;
    justify-content: flex-start;

    & > button {
      padding: 4%;
      margin: 0px 5px 0px 5px;
      font-size: 0.8rem;
      width: 20%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  & > .tProject {
    grid-row: 16/18;
    grid-column: 9/16;
    & > select {
      border: none;
      padding: 4%;
      margin: 0px 5px 0px 5px;
      font-size: 0.8rem;
      width: 50%;
      font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  & > .clearAll {
    grid-row: 19/21;
    grid-column: 2/7;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }

  & > .confirm {
    grid-row: 19/21;
    grid-column: 10/15;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }
}

/* this is for notesContainer Item */
.notesArea {
  & > h1 {
    grid-row: 1/3;
    grid-column: 1/14;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > .close {
    grid-row: 1/3;
    grid-column: 14/16;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }

  & > .nTitle {
    grid-row: 4/6;
    grid-column: 1/16;
    font-size: 1rem;
    padding: 5px;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & > .nDescription {
    grid-row: 7/18;
    grid-column: 1/16;
    resize: none;
    font-size: 1rem;
    padding: 5px;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & > .clearAll {
    grid-row: 19/21;
    grid-column: 2/7;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }

  & > .confirm {
    grid-row: 19/21;
    grid-column: 10/15;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
  }
}

.hide {
  display: none;
}

/* these are applied by default */
.priorityButton {
}

/* these will be applied to picked one */
.picked {
}
