@font-face {
    font-family: 'gilroy-bold';
    src: url('gilroy-bold-webfont.woff2') format('woff2'),
         url('gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy-heavy';
    src: url('gilroy-heavy-webfont.woff2') format('woff2'),
         url('gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy-light';
    src: url('gilroy-light-webfont.woff2') format('woff2'),
         url('gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy-regular';
    src: url('gilroy-regular-webfont.woff2') format('woff2'),
         url('gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}