@import url(./modules/colorsheet.css);

@font-face {
  font-family: sourcePro;
  src: url(./font/SourceCodePro-VariableFont_wght.ttf);
}

:root {
  scroll-behavior: smooth;
  transition: all 0.75 ease;
  font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-primary);
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px;
  padding: 5px;
  position: relative;
}

.sideBar,
.navBar,
.mainBar {
  border-radius: 15px;
  background-color: var(--color-light-secondary);
}

.sideBar {
  grid-area: 1/ 1 / 13 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  /*contains:- all,today,completed  */
  & > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 20%;

    /* styling for all,completed and today button */
    & > button {
      width: 90%;
      height: 6vh;
      cursor: pointer;
      font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: var(--color-preset);
    }
  }

  /* notes button */
  & > button {
    width: 80%;
    height: 6vh;
    cursor: pointer;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-preset);
  }

  /*contains:- add new project  */
  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 55%;

    /* add new project button */
    & > button {
      width: 90%;
      height: 6vh;
      cursor: pointer;
      font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background-color: var(--color-preset);
    }

    /* holds newly created project */
    & > .projectContainer {
      width: 90%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: scroll;
      gap: 10px;
      padding-top: 5px;
    }
  }
}

.navBar {
  grid-area: 1 / 3 / 2 / 13;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  gap: 5px;

  /* theme,add and expand button */
  & > button {
    height: 90%;
    width: 10vw;
    cursor: pointer;
    font-family: sourcePro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-preset);
  }
}

.mainBar {
  grid-area: 2 / 3 / 13 / 13;
  padding: 10px;
  overflow: scroll;
  position: relative;
}
